<meta charset="utf-8">

{% include seo.html %}

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:site_name" content="Zhuoli Yin" />
<meta property="og:title" content="Zhuoli Yin" />
<meta property="og:description" content="Ph.D. Candidate in Industrial Engineering at Purdue University" />
<meta name="author" content="Zhuoli Yin" />

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="assets/css/main.css">

<meta http-equiv="cleartype" content="on">
<head>
  <base target="_blank">
</head>
